html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #f3f3f3, #c2c2c2);
    overflow: hidden
}

@font-face {
    font-family: font-title;
    src: url("stretch_pro/StretchPro.otf");
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes updown2 {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-35px);
    }

    90% {
        transform: translateY(0);
    }
}

section {

    #intro {
        position: relative;
        top: 350px;
        left: 70px;

        h1 {
            font-family: font-title;
            font-size: 60px;
            color: #333;
        }

        p {
            margin-top: -20px;
            font-family: font-title;
            font-size: 23.4px;
            color: #333;
        }
    }


    .bgtriangle {
        position: relative;

        .triangle1 {
            position: absolute;
            right: -20px;
            top: 150px;
            width: 740px;
            height: 700px;
            clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
            object-fit: cover;
            animation: updown 5s ease-in-out infinite
        }

        .triangle2 {
            position: absolute;
            right: -20px;
            top: 600px;
            width: 200px;
            height: 200px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background: linear-gradient(1deg, #e0e0e0, #ffddc7);
            animation: updown 5s ease-in-out infinite;
        }

        .triangle3 {
            position: absolute;
            right: 420px;
            top: 550px;
            width: 220px;
            height: 200px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background: linear-gradient(1deg, #e0e0e0, #f6deff);
            animation: updown2 5s ease-in-out infinite;
        }

        .triangle4 {
            position: absolute;
            left: 975px;
            top: -50px;
            width: 200px;
            height: 400px;
            transform: skew(28deg);
            background: linear-gradient(1deg, #dcefff, #e0e0e0);
        }

        .triangle5 {
            position: absolute;
            right: -170px;
            top: -320px;
            width: 0;
            height: 0;
            border-left: 250px solid transparent;
            border-right: 250px solid transparent;
            border-bottom: 450px solid #e0e0e0;
            animation: updown 5s ease-in-out infinite;
        }
    }
}