body {
    background: linear-gradient(to left, rgb(4, 6, 43), black);
    color: #f0f0f0;
}

.Intro {

    h1{
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
        left: 200px;
        top: 200px;
    }

    .Model1 {
        position: absolute;
        height: 500px;
        top: 50px;
        left: 800px;
    }

    .cloud1{
        position: absolute;
        height: 200px;
        top: 280px;
        right: 180px;
        transform: rotateY(180deg);
        z-index: -1;
    }
}