html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #f3f3f3, #c2c2c2);
    overflow: hidden
}

/* FONTES */
@font-face {
    font-family: font-title;
    src: url("stretch_pro/StretchPro.otf");
}

/* CORES */
:root {
  --text-grey: #333;
  --light-grey: #616161;
  --lima-green: #a2f04a;
  --white: #e0e0e0;
}

/* ANIMAÇÕES */
@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes updown2 {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-35px);
    }

    90% {
        transform: translateY(0);
    }
}

/* SECTION */
section {

    /* INTRODUÇÃO */
    #intro {
        position: relative;
        top: 360px;
        left: 80px;

        h1 {
            font-family: font-title;
            font-size: 50px;
            color: var(--text-grey);
        }

        p {
            margin-top: -20px;
            font-family: font-title;
            font-size: 19.5px;
            color: var(--text-grey);
        }
    }

    .bgtriangle {
        position: relative;

        .triangle1 {
            position: absolute;
            right: -20px;
            top: 150px;
            width: 740px;
            height: 700px;
            clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
            object-fit: cover;
            animation: updown 5s ease-in-out infinite
        }

        .triangle2 {
            position: absolute;
            right: -20px;
            top: 600px;
            width: 0;
            height: 0;
            border-left: 210px solid transparent;
            border-right: 210px solid transparent;
            border-bottom: 400px solid var(--white);
            animation: updown 5s ease-in-out infinite;
        }

        .triangle3 {
            position: absolute;
            right: 420px;
            top: 550px;
            width: 0;
            height: 0;
            border-left: 110px solid transparent;
            border-right: 110px solid transparent;
            border-bottom: 200px solid var(--lima-green);
            animation: updown2 5s ease-in-out infinite;
        }

        .triangle4 {
            position: absolute;
            left: 975px;
            top: -50px;
            width: 200px;
            height: 400px;
            transform: skew(28deg);
            background-color: var(--light-grey);
        }

        .triangle5 {
            position: absolute;
            right: -170px;
            top: -320px;
            width: 0;
            height: 0;
            border-left: 250px solid transparent;
            border-right: 250px solid transparent;
            border-bottom: 450px solid var(--lima-green);
            animation: updown 5s ease-in-out infinite;
        }
    }
}